
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-align: center;
    color: crimson;
    text-decoration: none;
}
h3 {
    text-align: center;
    color: white;
    text-decoration: none;
}

.header {
    display: inline-block;
}

.header-logo {
    height: 100px;
    width: 250px;
    float:left;
}
.header-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: inherit;
    display: inline-block;
    font-size: 200%;
    padding: 50px 300px;
    font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-decoration: none;
}   


.navbar {
    overflow: hidden;
    background-color:grey; 
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
background-color:green;
}

.subnav-content {
display: none;
position: absolute;
left: 0;
background-color: green;
width: 100%;
z-index: 1;
}

.subnav-content a {
float: left;
color: white;
text-decoration: none;
}

.subnav-content a:hover {
background-color:green;
color: black;
}

.subnav:hover .subnav-content {
display: block;
}  
table
{
    text-align: center;
    margin: auto;
}   
p{
    margin: 10px 80px;
    /* font-weight: bold; */
    font-style: inherit;
    text-align: justify;
}  
#skds
{
    text-decoration: none;
    color: red;
}
#gia {
    text-align: center;
    color: red;
    font-weight: bold;
}
#mot {
    margin: 10px 80px;
    list-style-type: square;
    font-weight: bold;
    text-align: left;
}

.footer{
    background-color: gray;
}